/*  your css code here. If applicable */
*{
	padding:0px;
	margin:0px;
}
.test{
	width:150px;
	color:purple;
	font-size:25px;
	padding:150px 100px;
	font-wight:bold;
	background-color:lightblue;
	border:2px solid black;
	margin:200px auto;
}
